/*Elements*/

body{
	text-align: center;
}	

h1, h4{
	color: rgb(2,120,130);
	font-family: "Open Sans", sans-serif;
	line-height: 10px;
}

h2{
	color: #ffd700;
}

p{
	font-size: 12px;
}

footer{
	font-family: helvetica;
	text-align: center;
	background-color: #aaaaaa;
}

nav{
	line-height: 3em;
	background-color: #aaaaaa;
}

nav a{
	background-color: orange;
	float: left;
	width: 6em;
	text-decoration: none;
	color: white;
}

nav a:hover{
	background-color: #aaaaaa;
	/*border: 1px solid white;*/
}

card{
	/*0.74*/
	height: 200px;
	width: 148px;
	border: 1px solid rgba(0,0,0,1);
	margin: 5px;
	background-image: url("card-back.jpg");
	background-size: cover;
	border-radius: 12px;
	float: left;
}


/*Classes*/

.important{
	font-size: 16px;
}

.board{
	height: 100%;
	width: 100%;
	display: inline-block;
	background-color: rgba(100,100,100,1);
	background: url("Board-game-background.jpeg"); 
	background-size: cover;
  	/*background: -webkit-radial-gradient(teal, white); /* Safari 5.1 to 6.0 */
  	/*background: -o-radial-gradient(teal, white); /* For Opera 11.6 to 12.0 */
  	/*background: -moz-radial-gradient(teal, white); /* For Firefox 3.6 to 15 */
  	/*background: radial-gradient(teal, white); /* Standard syntax */
	border-radius: 12px;
	border: 1px solid rgba(200,200,200,1);
}

.queen{
	height: 200px;
	width: 148px;
	border: 1px solid rgba(0,0,0,1);
	margin: 5px;
	background-image: url("queen.png");
	background-size: cover;
	border-radius: 12px;
	float: left;
}

.king{
	height: 200px;
	width: 148px;
	border: 1px solid rgba(0,0,0,1);
	margin: 5px;
	background-image: url("king.png");
	background-size: cover;
	border-radius: 12px;
	float: left;
}

.queenMatched{
	height: 200px;
	width: 148px;
	border: 1px solid rgba(0,0,0,1);
	margin: 5px;
	background-image: url("queen.png");
	background-size: cover;
	border-radius: 12px;
	float: left;
	opacity: 0.5;
}

.kingMatched{
	height: 200px;
	width: 148px;
	border: 1px solid rgba(0,0,0,1);
	margin: 5px;
	background-image: url("king.png");
	background-size: cover;
	border-radius: 12px;
	float: left;
	opacity: 0.5;
}

.name{
	color: red;
}

.container{
	width: 640px;
	clear: both;
	margin: 0 auto;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.inputError{
	border: 1px solid red;
}

.scores{
	display: inline-block;
	font-size: 24px;
	margin: 0px 30px 0px 5px;
}

/*JS Ids*/

#userInput{
	margin: 10px;
}

#num{
	width: 132px;
}

